html {
    margin: 0;
    padding: 0;
    text-rendering: optimizeLegibility;
    font-smooth: never;
    text-shadow: rgba(255, 255, 255, 0.01) 0 0 1px;
    -webkit-font-smoothing: none;
    image-rendering: pixelated;
    background: #030b14 url("bg.png") repeat;
}

body {
    margin-top: 5vh;
    position: relative;
    text-align: center;
    padding: 20px;
    color: white;
}

h1 {
    margin: 0;
}

p {
    margin: 10px 0 0;
}

span {
    background-color: #030b14;
}

main a:not(.normal) {
    display: contents;
}

main img {
    width: 88px;
    height: 31px;
}

div#trans {
    display: block ruby;
    text-align: center;
    width: 100%;
}

main a {
    text-decoration: none;
}

main a:link,
main a:visited {
    color: white;
    font-weight: bold;
    border: 1px solid white;
}

main a:hover,
main a:active {
    background-color: white;
    color: black;
}

::selection,
::-moz-selection {
    background: transparent;
    text-shadow: 0px 0px 5px yellow;
}
