html {
    margin: 0;
    padding: 0;
    text-rendering: optimizeLegibility;
}

body {
    margin-top: 5vh;
    position: relative;
    text-align: center;
    padding: 20px;
    color: white;
    background: url("wop.gif") repeat;
    background-size: 50px;
    background-color: black;
}

h1 {
    margin: 0;
}

p {
    margin: 10px 0 0;
}

span {
    background-color: black;
}

a:not(.normal) {
    display: contents;
}

img {
    image-rendering: pixelated;
    width: 88px;
    height: 31px;
}

div#trans {
    display: block ruby;
    text-align: center;
    width: 100%;
}

a {
    text-decoration: none;
}

a:link,
a:visited {
    color: white;
    font-weight: bold;
    border: 1px solid white;
}

a:hover,
a:active {
    background-color: white;
    color: black;
}
