html {
    font-family: "Ubuntu Mono", serif;
    background-color: black;
    color: white;
}

body {
    margin: 0;
}

a,
a:visited,
a:focus,
a:hover {
    color: white;
}

table {
    width: 100%;
}
