html {
    height: 100%;
    margin: 0;
    background: url("https://www.cameronsworld.net/img/content/18/bg.png")
        repeat no-repeat;
    background-size: auto 100%;
}

body {
    font-size: 25px;
    margin: 0;
    padding: 1em;
    height: 95%;
    font-weight: bolder;
}

body a {
    font-size: 0;
}

li > a {
    font-family: monospace;
    font-size: 20px;
    color: green;
    background-color: black;
    text-decoration: none;
    font-weight: normal;
}

body a > img {
    image-rendering: crisp-edges;
    image-rendering: pixelated;
    object-fit: contain;
    width: 88px;
    height: 31px;
}
